
/*
    layer_canvas.css
    Copyright : Tsubasa Nakano
    Created : 2016/08/15
    Last Updated : 2016/08/15
    [ note ]
*/



/* キャンバスレイヤー */
#canvas_layer{
/* - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - */
    /* Pointer */
    pointer-events  : all ;                    /* マウス判定の設定          */
}

/* カード表示領域の最初のメッセージ */
#dblclick_message{
/* - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - */
    /* Position */
    position : relative ;                       /* 表示位置                  */
    top      : -15% ;
    left     : 100px ;                          /* メニューがある分右へ */

    /* Content */
    font-size   :  24px ;                       /* 文字サイズ               */
    color       : rgba( 139, 69, 19, 0.6 );     /* 文字色                   */
}


/* カードレイヤー */
#card_layer{
/* - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - */
    pointer-events  : all;                      /* マウス判定の設定          */
}



/* 矢印レイヤー */
#arrow_layer{
/* - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - */
    pointer-events: none;                       /* マウス判定の設定          */
}




/* 矢印キャンバス */
.arrowCanvas{
/* - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - */
    position        : absolute ;
    pointer-events  : none ;
}

/* 看護問題表示状態の矢印キャンバス */
.arrowCanvas_ProblemView{
/* - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - */
    opacity : 0.2 ;
}
