
/*
    load_diagram.css
    Copyright : Tsubasa Nakano
    Created : 2016/10/13
    Last Updated : 2016/10/13
    [ note ]
*/

#loadDiagramArea{
/* - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - --|-- - */
    width : 100% ;
    
    overflow-y : scroll ;
    
    background-color: rgba( 0,0,0,0 );
}
#loadDiagramArea table{
    width : 100% ;
    cursor: pointer;
}
#loadDiagramArea td:nth-child(n+2){
    padding     : 8px 0px ;
    width : 200px ;
    min-width   : 200px ;
    vertical-align : middle ;
}
/*#loadDiagramArea td:nth-child(2){ width : 200px ; }*/
#loadDiagramArea td:nth-child(3){ width : auto  ; }
/*#loadDiagramArea td:nth-child(4){ width : 200px ; }*/

#loadDiagramArea hr{ margin : 0px ; }

#loadDiagramArea table.selecting{ background-color : rgba( 52, 73, 94, 0.5 ) ;}